# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\DUNG\Desktop\module_2\day9_Automated_Testing _TDD\baitap_phan_loai_tam_giac\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
